/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
html, body {
	@include font-smoothing(antialiased);
}

html {
	box-sizing: border-box;
}

body {
    margin-top: 100px;

    @include mq($xl) {
        margin-top: 60px;
    }

    &.sb-show-main {
        margin: 0;
    }

    @include mq($xl + 1, min) {
        overscroll-behavior-y: none;
    }
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
