/*--------------------------------------------------------------
## Styleguide site
--------------------------------------------------------------*/
body.sb-show-main {
    margin: 0;
}

.styleguide__colorpallet {
    display: flex;
	flex-wrap: wrap;
    margin: 0 -15px;
}

.styleguide__colorpallet--mod {
	padding: 15px;
}

.styleguide__color {
    display: inline-block;
    width: 120px;
    height: 50px;
}

.styleguide__color-name {
    display: block;
    font-size: 16px;
    color: #bebebe;
    text-align: center;
    margin: 20px 0 0;
}

.styleguide__fonts-items {
	font-size: 26px;
	display: block;
}

.styleguide__icons {
	display: flex;
	flex-wrap: wrap;
}

.styleguide__icons-item {
	margin-right: 15px;
}

.styleguide__icons-name {
	font-size: 12px;
	display: block;
	text-align: center;
	padding: 5px 0;
}

.styleguide__icons-icon {
	font-size: 35px;
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f1f1f1;
}
