@import '../../../scss/config/variables';
@import '../../../scss/helpers/mixins';
@import'../../../scss/helpers/helpers';
// @import '../../../scss/base/icon-font';

// @font-face {
// 	font-family: "fonticons";
// 	src: url('./../../icons/fonticons.woff2') format('woff2'), url('./../../icons/fonticons.woff') format('woff'), url('./../../icons/fonticons.ttf') format('truetype');
// 	;
// }

body {
	background-color: $login-bkg;
}

#login {
	position: relative;
	background-color: $white;
	padding: 45px 45px 50px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	margin: 0;

	form p.submit {
		margin: 35px 0 0;
	}

	@include mq($md + 12, min) {
		animation: zoom-out 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
		position: relative;
		width: 330px;
	}

	@include mq($md) {
		padding: 45px 20px 40px;
	}
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;

	.privacy-policy-page-link {
		display: none;
	}

	.message,
	#login_error {
		order: 1;
		color: $login-text;
		margin-bottom: 0;
		padding: 0 12px 15px;
		box-shadow: none;
		text-align: center;
		border-left: 0;
	}

	#login_error {
		color: $red;
	}

	h1 {
		order: 2;

		a {
			background-image: url('../src/assets/images/logo.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 70%;
			height: 70px;
			transition: $dur $ease;
			margin: 0 auto 5px;

			&:hover,
			&:focus,
			&:active {
				opacity: .8;
				outline: 0;
				box-shadow: none;
			}

			@include mq($md) {
				height: 55px;
			}
		}
	}

	form {
		position: relative;
		box-shadow: none;
		border: 0;
		margin-top: 0;
		padding: 70px 0 0;
		order: 3;
		overflow: visible;

		>p:first-of-type,
		.wp-pwd {
			font-size: 0;
			position: relative;
			display: block;
			margin-bottom: 20px !important; //sass-lint:disable-line no-important

			&::before {
				font-size: 20px;
				color: $login-text;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				pointer-events: none;
			}

			br {
				display: none;
			}
		}

		>p:first-of-type {
			&::before {
				content: '';
				width: 20px;
				height: 20px;
				background-image:url('../src/assets/svg/ico-user.svg');
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

	.button.wp-hide-pw {
		min-height: 47px;

		&:focus {
			outline: none;
		}
	}

	label {
		font-size: 0;
		position: relative;
		display: block;
		margin: 0;

		br {
			display: none;
		}
	}

	[for="user_pass"],
	.wp-pwd {
		&::before {
			content: '';
			width: 18px;
			height: 18px;
			background-image:url('../src/assets/svg/ico-lock.svg');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	form .input,
	input[type=text] {
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		padding: 12px 20px 12px 40px;
		outline: 0;
		border-radius: 30px;
		transition: 0.15s ease-in-out;

		@include placeholder {
			font-size: 16px;
			font-weight: 300;
		}

		&:focus {
			border-color: $login-text;
		}
	}

	form .forgetmenot,
	.login .button-primary {
		float: none;
	}

	form .forgetmenot {
		margin-top: 12px;
		display: flex;
		width: 50%;

		input {
			width: 16px;
			height: 16px;
			margin-top: 0;
		}

		label {
			font-size: 14px;
			color: $login-text;
			line-height: 1.2;
			display: flex;
		}

		@include mq($md + 1, min) {
			label {
				font-size: 14px;
			}
		}
	}

	#nav {
		margin: 0;
		position: absolute;
		bottom: 138px;
		right: 26px;
		z-index: 1;

		a {
			color: $login-text;
			text-decoration: underline;

			&:focus {
				text-decoration: none;
				box-shadow: none;
			}
		}

		@include mq($md) {
			bottom: 135px;
			right: 0;

			a {
				font-size: 12px;
			}
		}
	}

	@include mq($md) {
		padding: 0 15px;
	}
}

.dashicons,
.login .button.wp-hide-pw {
	&:focus {
		outline: none;
		border: 0;
		box-shadow: none;
	}
}

.login-title {
	font-size: 20px;
	position: absolute;
	color: $login-text;
	top: 17px;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

#wp-submit,
#wfls-token-submit {
	font-size: 16px;
	padding: 18px;
	line-height: 1;
	background-color: $red;
	text-shadow: none;
	box-shadow: none;
	border: none;
	transition: 250ms ease;
	width: 100%;
	border-radius: 30px;
	text-transform: uppercase;

	&:focus,
	&:active {
		font-size: 16px;
		padding: 18px;
		text-shadow: none;
		box-shadow: none;
		border: none;
		background-color: $red;
		transition: 250ms ease;
	}

	&:focus,
	&:active,
	&:hover {
		opacity: 0.8;
	}

	@include mq($md + 1, min) {
		min-width: 100px;
		height: auto;

		&:focus,
		&:active {
			text-transform: uppercase;
			font-weight: bold;
			min-width: 100px;
			padding: 18px;
			height: auto;
		}
	}

	@include mq($md) {
		min-width: 100px;
		height: auto;
		line-height: 1;

		&:focus,
		&:active {
			text-transform: uppercase;
			font-weight: bold;
			min-width: 100px;
			padding: 18px;
			height: auto;
		}
	}
}

#backtoblog {
	display: none;
}

// Login Animation
@keyframes zoom-out {
	0% {
		transform: scale(1.2);
		filter: blur(2px);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}


// 2FA
#wfls-prompt-overlay {
	z-index: 1;
	padding: 0;
}

label[for="wfls-token"] {
	font-size: 17px;
	font-weight: 500;
	color: $login-text;
	padding-bottom: 10px;
	text-align: center;
}

.wfls-2fa-code-help {
	color: $login-text;

	&:focus {
		box-shadow: none;
		transform: scale(1.2);
	}
}

.login form .wfls-remember-device-wrapper {
	margin-top: 5px;
}
