/*--------------------------------------------------------------
## Main Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Georgia, serif;
$font-default-sans-serif: Arial, Helvetica, sans-serif;

$font-main: 'Open Sans', $font-default-sans-serif;

$site-fonts: (
	'font-main': $font-main
) !default;

// Colors
$white: #fff;
$grey-light: #eee;
$grey-mid: #999;
$grey: #656565;
$grey-dark: #333;
$black: #000;
$red: #e2401c;
$green: #4fc08d;
$blue: #3d9cd2;

$site-colors: (
	'white': $white,
	'grey-light': $grey-light,
	'grey-mid': $grey-mid,
	'grey': $grey,
	'grey-dark': $grey-dark,
	'black': $black,
	'red': $red,
	'green': $green,
	'blue': $blue
) !default;

// 404 - Set this color to follow site style
$c-404-numbers: $black;
$c-404-text: $black;
$c-404-btn-color: $white;
$c-404-btn-bg: $black;

// Styleguide colors
$sg-orange: #e95626;
$sg-blue: #71999e;
$sg-grey: #fafafa;

// Dashboard colors
$login-text: $black;
$login-btn: #cfb283;
$login-bkg: #f0f0f0;


// Transitions
$dur: 350ms;
$ease: ease;

/*--------------------------------------------------------------
## Bootstrap Variables
--------------------------------------------------------------*/
$enable-grid-classes: true !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

/*
	Breakpoints for max-width.

	These variables are mapped with $grid-breakpoints SCSS map variable which is used for bootstrap.
	The reason for this setup is that it is needed to have variables that reflect bootstrap's breakpoints.
	Bootstrap is using min-with and this starter max-with approach, so bootstrap's breakpoint at 992px (min-width)
	is reflected as 991px (max-width), thus the mapped variables bellow.
 */

$sm: map-get($grid-breakpoints, sm) - 1;
$md: map-get($grid-breakpoints, md) - 1;
$lg: map-get($grid-breakpoints, lg) - 1;
$xl: map-get($grid-breakpoints, xl) - 1;
$lap-small: 1250px;
$lap-large: 1400px;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;


/*--------------------------------------------------------------
## Woocommerce Variables
--------------------------------------------------------------*/
$woo-color-error: $red;
$woo-color-success: $green;
$woo-color-info: $blue;

$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);
$columns-margin: 3.8%;

// Column width with margin
@mixin column-width($number-columns: 3) {
	width: map-get($columns, $number-columns) - (($columns-margin * ($number-columns - 1)) / $number-columns);
}
